<div class="container text-center mt-5">
    <h1>404 | Page Non Trouvée</h1>
    <p>Désolé, la page que vous cherchez n'existe pas.</p>
    <p>
        <a href="/">Retourner à l'accueil</a>
    </p>
</div>