<div class="container text-center mt-5">
    <h1>500 | Erreur Interne du Serveur</h1>
    <p>
        Une erreur du serveur
    </p>
    <p>
        <a href="/">Retourner à l'accueil</a>
    </p>
    {{#if error}}
    <div style="text-align: left; margin: 20px auto; max-width: 600px; padding: 10px; border: 1px solid red;">
        <pre>{{error.message}}</pre>
    </div>
    {{/if}}
</div>