<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/global.css" />
    </head>
    <body>
        {{{ body }}}
    </body>
</html>

<h1>Bienvenue sur notre site</h1>
<div>
    <a href="/movies">Voir les films</a>
</div>