
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <nav class="nav">
      <a href="/">Accueil</a>
      <a href="/jeux">Jeux</a>
      <a href="/editeurs">Éditeurs</a>
      <a href="/genres">Genres</a>
    </nav>
  </header>

  <main class="container">
    {{{body}}}
  </main>

  <footer>
    <p></p>
  </footer>

</body>
</html>

