//page de base pour les editeurs, par ordre alphabetique

<h1>Détails de l'éditeur</h1>
<p>Nom de l'éditeur : {{editeur.nom}}</p>

<p>Liste des jeux publiés par cet éditeur :</p>
<ul>
    {{#each editeur.jeux}}
        <li>{{this.titre}} ({{this.annee}})</li>
    {{/each}}
</ul>

