<form action="{{action}}" method="POST">
    <div>
        <label for="nom">Nom de l'éditeur :</label>
        <input type="text" id="nom" name="nom" value="{{editeur.Editeur_nom}}" required> 
    </div>
    <button type="submit">Enregistrer</button>
    <a href="/editeurs">Annuler</a>
</form>