//ajout d'un editeur

<h1>Ajouter un nouvel éditeur</h1>
<form action="/editeurs" method="POST">
    <label for="nom">Nom de l'éditeur :</label>
    <input type="text" id="nom" name="nom" required>
    <button type="submit">Ajouter</button>
</form>
